name: Bandit

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1
        with:
          severity: low
          confidence: low
          targets: ./
